.dropdown-container {
  width: 100%;
}

.dropdown-title {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  background-color: #ff6060;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.dropdown-description {
  width: 70%;
  margin: auto;
  background-color: #f6f6f673;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.dropdown-content {
  padding: 1rem;
  color: #000;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
}

.chevron-icon {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.chevron-icon.open {
  transform: rotate(180deg);
}

@media (max-width: 1024px) {
  .dropdown-title {
    width: 90%;
  }

  .dropdown-description {
    width: 90%;
  }
}
