.tag {
  display: inline-block;
  background-color: #ff6060;
  color: #fff;
  font-size: 0.8rem;
  padding: 2px 40px;
  border-radius: 8px;
  margin-right: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
