.LocationGrid-container {
  background-color: #f5f5f5; // couleur de fond
  justify-content: center; // centrer les cartes
  padding: 20px; // espace autour des cartes
  padding-top: 40px; // espace au-dessus du conteneur
  width: 83%;
  margin: auto;
  margin-top: 40px; // espace au-dessus du conteneur

  .locationCards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 60px; // espace entre les cartes
    justify-content: center; // centrer les cartes
  }
}

@media (max-width: 1024px) {
  .LocationGrid-container {
    background-color: transparent;
    padding-top: 0;

    .locationCards-wrapper {
      gap: 20px;
    }
  }
}
