.locationCard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(185, 179, 179);
  border-radius: 10px;
  width: 310px;
  height: 310px;
  cursor: pointer;
  position: relative;
  background-color: orangered;

  .location-text-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px; // hauteur à ajuster selon le texte
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    border-radius: 0 0 10px 10px;
    z-index: 1;
  }

  .location-text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 1024px) {
  .locationCard-container {
    width: 290px;
    height: 240px;
  }
}
