.banner-container {
  position: relative;
  width: 87%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .banner-text {
    position: absolute;
    top: 80px;
    color: white;
    font-size: 24px;
    text-align: center;
  }
}