.banner-container {
  position: relative;
  width: 87%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .banner-text {
    position: absolute;
    top: 40px;
    color: white;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
  }
}

@media (max-width: 1024px) {
  .banner-container {
    height: 120px;
    margin-top: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .banner-text {
      top: 0px;
      font-size: 24px;
      text-align: left;
      width: 64%;
      left: 10px;
    }
  }
}
