.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  color: #ff6060;
  text-align: center;
}
.error-title {
  font-size: 14rem;
  font-weight: bold;
  margin: 0;
}
.error-message {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.error-link {
  color: #000;
  text-decoration: underline;
  font-size: 1.2rem;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}
